/* Color Palette 

Background Color (Black): #000000
Text Color (Green): #009616
*/

:root{
    --background-color:#000000;
    --text-color:#00bc1c;
    --font-weight: 400;
}
  
* {
    box-sizing: border-box;
}
  
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.pokemon-item {
    border: groove;
    /*Takes the font from the outer container (in this case, the body).*/
    font-family: inherit;
    text-align: center;
    background-color: #000000;
    height: auto;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
}