/* Color Palette 

Background Color (Black): #000000
Primary Color (Malachite): #0bda51
Secondary Color (Tomato): #ff6347
Tertiary Color (Sacramento State Green): #043927
*/

:root{
    --background-color:#000000;
    --text-color:#0bda51;
    --font-weight: 400;
}


/*
Firsly, using the property box-sizing with the value border-box, all elements of the document (targeted with *), 
are set so the default width includes the padding and the border.
*/

* {
    box-sizing: border-box;
}

/*
1 - Below, rules applied to the body.
*/

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
    }

/*
2 - Below, rules applied to headings and text.
*/

    .main-heading {
        font-family: inherit;
        font-weight: 700;
        text-align: center;
    }

    .main-text {
        font-family: inherit;
        font-weight: 400;
        text-align: center;
    }

/*
3 - Below, rules applied to list items.
*/

    .pokemon-item {
        color: #0bda51;
        background-color: #000000;
        border: groove;
        border-color: #0bda51;
        font-family: inherit;
        text-align: center;
        height: auto;
        width: 250px;
        margin: 5px auto;
        padding: 15px;
        border-radius: 5px;
        transition-duration: 0.4s;
    }

    ul {
        list-style-type: none;
    }

/*
4 - Below, rules applied to buttons.
*/

    button:hover { 
        cursor: pointer;
        color: #ff6347;
        background-color: #000000;
        border: groove;
        border-color: #ff6347;
        font-weight: bold;
    }

    button:focus {
        cursor: pointer;
        color: #ff6347;
        background-color: #043927;
        border: groove;
        border-color: #ff6347;
        font-weight: bold;
    }