/* Color Palette 

Background Color (Black): #000000
Primary Color (Malachite): #0bda51
Secondary Color (Tomato): #ff6347
Tertiary Color (Sacramento State Green): #043927
*/


/*
Firsly, using the property box-sizing with the value border-box, all elements of the document (targeted with *), 
are set so the default width includes the padding and the border.
*/

* {
    box-sizing: border-box;
}

/*
1 - Below, rules applied to the body.
*/

    body {
        background-color: #000000;
        color: #0bda51;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
    }

/*
2 - Below, rules applied to nav, headings, and main body elements.
*/
    
    .navbar-solid {
        background-color: #000000;
    }

    a { /*Only applies to nav bar's anchor*/
        color: #ffffff;
        font-family: inherit;
        font-weight: 700;
        padding: 15px 0px;
    }

    .main {
        padding: 25px;
    }

    .main-logo{
        margin-top: 105px;
        max-width: 500px;
        width: 90%;
    }

    .main-heading {
        font-family: inherit;
        font-weight: 700;
    }

    .main-text {
        font-family: inherit;
        font-weight: 700;
    }

    .sidenav {
        height: auto;
        /* Position:fixed fixes navigation items so they stay in place on scroll. */
        position: fixed;
        overflow: hidden;
        /* Bottom:0px places navbar at the bottom of the screen. */
        bottom: 0px;
        /* The z-index allows the image to be displayed in front of the other elements. */
        z-index: 1;
        margin: 20px;
        line-height: 1;
      }
    
      .navigation-list {
        /* List-style-type: none erases the dots next to the navigation list items. */
        list-style-type: none;
        /* Reduces default left padding to 0px. */
        padding-left: 0px;
      }
    
      .side-navbar__item {
        font-size: 40px;
        padding: 0px;
      }

      .nav-link--unavailable {
        filter: grayscale();
        cursor: default;
      }

/*
4 - Below, rules applied to footer.
*/

    .copyright {
        text-align: center;
    }

/*
5 - Below, rules applied to the modals.
*/

    .modal {
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        padding: 30px;
    }
      
    .modal-pokemon {
        margin: auto;
        padding: 0;
        background-image: linear-gradient(#043927, #000000);
        border-width: 3px;
        border-radius: 20px;
        border-color: #0bda51;
        border-style: solid;
        max-width: 500px;
      }

    .modal-content {
        text-align: center;
        background-color: transparent;
        border: none;
    }
    
    .modal-title {
        color: white;
        font-weight: 700;
        font-size: x-large;
    }

    .modal-title::first-letter {
        text-transform: uppercase
    }

    .sprite {
        width: 200px;
    }

    .close {
        color: white;
    }

/*
6 - Below, rules applied to list items.
*/

    .pokemon-item {
        color: #0bda51;
        background-color: #000000;
        border: groove;
        border-color: #0bda51;
        font-family: inherit;
        text-align: center;
        height: auto;
        width: 250px;
        margin: 5px auto;
        padding: 15px;
        border-radius: 5px;
        transition-duration: 0.4s;
    }

    ul {
        /*Remove list item dots next to each button in the ul.*/
        list-style-type: none;
    }

    .pokemon-list {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px 15px;
        align-items: center;
        justify-content: center;
        max-width: 1600px;
    }

/*
7 - Below, rules applied to buttons and anchors("!important" forces rule to override default bootstrap button styling).
*/

    .btn-primary:hover, .btn-primary:focus {
        cursor: pointer;
        color: #ff6347;
        background-color: #000000 !important;
        border: groove;
        border-color: #ff6347;
        font-weight: bold;
        outline: none;
        box-shadow: none !important;
    }

    .btn-primary:active {
        cursor: pointer;
        color: #ffb700 !important;
        background-color: #043927 !important;
        border: groove;
        border-color: #ffb700 !important;
        font-weight: bold;
        outline: none;
    }

    /*Below, removed default box-shadow from pokemon button.*/
    .pokemon-item, .pokemon-item:hover, .pokemon-item:focus, .pokemon-item:active {
        box-shadow: none;
    }

    /*Below, removed default outline from modal's close button.*/
    .close:hover {
        outline: none;  
    }

    a, a:hover {
        text-decoration: none;
        color: #ff6347;
    }